.header {
    width: 200 px;
     /* some padding */
  }
  
  /* Increase the font size of the <h1> element */
  .header h1 {
    font-size: 40px;
  }

  .vertical-menu {
    width: 100%; /* Set a width if you like */
  }
  
  .vertical-menu a {
    background-color: #1aa4bc; /* Blue background color */
    color: white; /* Black text color */
    display: inline-block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    background-color: #04AA6D; /* Add a green color to the "active/current" link */
    color: white;
  }

  .footer {
    padding: 20px; /* Some padding */
    text-align: center; /* Center text*/
    background: #ddd; /* Grey background */
  }
    
  
  .icon-bar {
      width: 100%; /* Full-width */
      background-color: #555; /* Dark-grey background */
      overflow: auto; /* Overflow due to float */
    }
    
    .icon-bar a {
      float: left; /* Float links side by side */
      text-align: center; /* Center-align text */
      width: 12%; /* Equal width (5 icons with 20% width each = 100%) */
      padding: 12px 0; /* Some top and bottom padding */
      transition: all 0.3s ease; /* Add transition for hover effects */
      color: white; /* White text color */
      font-size: 36px; /* Increased font size */
    }
    
    .icon-bar a:hover {
      background-color: #000; /* Add a hover color */
    }
    
    .active {
      background-color: #1aa4bc; /* Add an active/current color */
    }
