<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/dodaj.css" />
    <title>Dodaj zaposlenika</title>
</head>

<body>
    <div class="hero">
        <nav>
          <a href="https://emerus.eu/en/">
              <img src="https://db3pap006files.storage.live.com/y4mF56np5tDzVNvpWxb_T7c7xDdDATRqQBq8mKK96-zSzDASofj7B2FCLeTgM3ZpiELQPSgA5CE223xZBCq5Sl7N0qUu2jQ5_VmQfERKlqOtjVz8QRgaIIXt1cAM-wdxuEuVUw-tVWCFy_h2Jo1UpXKVX5QqUTCQlYff5mFgNiByCqWegZIGQRJQJ0NVDqydHyZogSkTK1GyHZ_hO-pCHHqwA/logo.png?psid=1&width=230&height=112" class="logo">
          </a>
            <ul>
                <li><a href="/home">Naslovnica</a></li>
                <li><a href="/svi">Svi zaposlenici</a></li>
                <li><a href="/dodaj">Dodaj zaposlenika</a></li>
                <li><a href="/obrasci">Obrasci</a></li>
                <li><a href="/logout">Odjavi se</a></li>
            </ul>
        </nav>

        <div class="bg"></div>
        <div class="bg bg2"></div>
        <div class="bg bg3"></div>
<br>
<br>
<br>

<form action="/submit_noviRadnik" method="post">
  <div id="container">
    <h1 style="margin-left: 8%;">Unos zaposlenika</h1>
    <div class="underline">
    </div>
    <div class="icon_wrapper">
    </div>
  
    <br>
    
<div class="container">
    <form action="/unesi" method="post">
      {% if data %}
        <div class="row">
        <div class="col-25">
          <label for="fname">Ime</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="ime" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Prezime</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="prezime" required>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
      <label for="birthday">Datum rođenja </label>
      </div>
        <div class="col-75">
      <input type="text" id="birthday" name="birthday" placeholder="datum rođenja" required><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
      <label for="adress">Adresa</label>
      </div>
        <div class="col-75">
      <input type="text" id="adress" name="adress" placeholder="adresa" required><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="email">Email</label>
      </div>
        <div class="col-75">
      <input type="text" id="email" name="email"placeholder="info@info.com" required><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="phone">Broj mobitela</label>
      </div>
        <div class="col-75">
      <input type="text" id="phone" name="phone" placeholder="000000000" required><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="department">Odjel</label>
      </div>
        <div class="col-75">
      <select placeholder="Odjel" name="department" id="subject_input" required>
        <option disabled hidden selected>Odaberite odjel</option>
        <option value="Administracija">Administracija</option>
        <option value="Alatnica">Alatnica</option>
        <option value="Financije i računovodstvo">Financije i računovodstvo</option>
        <option value="IT Odjel">IT odjel</option>
        <option value="Kontrola kvalitete">Kontrola kvalitete</option>
        <option value="Ljudski resursi">Ljudski resursi</option>
        <option value="Maloprodaja">Maloprodaja</option>
        <option value="Marketing">Marketing</option>
        <option value="Odjel komercijale">Odjel komercijale</option>
        <option value="Odjel korekcije">Odjel korekcije</option>
        <option value="Odjel nabave">Odjel nabave</option>
        <option value="Odjel osiguranja kvalitete">Odjel osiguranja kvalitete</option>
        <option value="Odjel prodaje">Odjel prodaje</option>
        <option value="Odjel proizvodnje - Preša">Odjel proizvodnje - Preša</option>
        <option value="Odjel proizvodnje - Termički most">Odjel proizvodnje - Termički most</option>
        <option value="Odjel proizvodnje - Pakiranje">Odjel proizvodnje - Pakiranje</option>
        <option value="Odjel tehnologije">Odjel tehnologije</option>
        <option value="Odjel za strojnu obradu">Odjel za strojnu obradu</option>
        <option value="Odjel za zaštitu površine">Odjel za zaštitu površine</option>
        <option value="Održavanje">Održavanje</option>
        <option value="Proizvodnja">Proizvodnja</option>
        <option value="Skladište profila">Skladište profila</option>
        <option value="Tehnički odjel">Tehnički odjel</option>
        <option value="Uprava">Uprava</option>
      </select><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="position">Pozicija</label>
      </div>
        <div class="col-75">
      <input type="text" id="position" name="position" placeholder="opis posla" required><br><br>
    </div>
</div>
      <input class="btn btn-default" type="submit" value="Unesi" action="/submit_noviRadnik" style="border-radius: 22px;">
    </form>
    {% endif %}
  </div>

  <div class="footer">
    <a href="https://www.facebook.com/emerus.eu/">
        <img src="https://db3pap006files.storage.live.com/y4mdhlYKefN6ZjzbX3OwGib504rtBl0ENcbCtIUmLrGuTouKr2f4qWL8p8xl89SKF3wsuaZZpwDJXIx_v2MZYBFRwlJhLR5NadTER4isJOEMF-QFE5ymlAxIXh_8sPd3RO4Hprhf77SQ7rlLvIqZrDCNOGLv85vrvfIgx5WvUdYtoyyFr-zmd_tELhKlBmR4bbWbJdY8HV69i51XNkgfiCtAA/facebook.png?psid=1&width=20&height=20&cropMode=center" style="width: 25px;">
    </a>

    <a href="https://ba.linkedin.com/company/emeruseu">
        <img src="https://db3pap006files.storage.live.com/y4m1EqU-JPW73s_vZ3rROVGDjMtNflU1cAOxneoORqlaV2Ejv--ejwTYzP5yDHvYCxQSAoPJbQ4foOx6aY9C0VO0VJFpxq5whs0UHnNNis_4yRbql_ppGW_idNfY_yMOhE3z45CISqxHQ7GxTUUZyEJTD_wqHLW7prp88ccb-G8eDtKoqpUBSHMmPtk9wNl8Ybcn4JB-nQFIjO4MyZk7gWvoQ/linkedin.png?psid=1&width=20&height=20&cropMode=center" style="width: 25px;">
    </a>

    <a href="https://www.instagram.com/emerus.doo/?hl=en">
        <img src="https://db3pap006files.storage.live.com/y4m9ycuV2_x6MO0Pe2hsiXxN0ssCnOBw3D02aQU7lxeDnldknX-0UQXop-pAy0fJa5s7gCyS5d87-IV1SDhU5bAUysFJ_okjVkkD4P2TlxApFGgzt2mW_eHW6xa6npb_9MNgmZ9uMe9CneHseTPaMU3_VqnlR1vHhpJc2_lYyjTBGaWdZ7bDS0pz35Z3p-PxgNw4oBfKSf_-I1UD1E6qIIg1w/instagram.png?psid=1&width=20&height=20&cropMode=center" style="width: 25px;">
    </a>
</div>

</html>