<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dodaj zaposlenika</title>
    <link rel="stylesheet" href="../static/css/dodaj.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="header">
    <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128">
  </div>
  <h1 style="text-align: left;">Unesi podatke o zaposleniku</h1>
</body>


<div class="container">
    <form action="action_page.php">
  
      <label for="fname">Ime</label>
      <input type="text" id="fname" name="firstname" placeholder="Ime">
  
      <label for="lname">Prezime</label>
      <input type="text" id="lname" name="lastname" placeholder="Prezime">
  
      <label for="adress">Adresa</label>
      <input type="text" id="adress" name="adress" placeholder="Adresa">
  
      <label for="subject">Zanimanje</label>
      <input type="text" id="profession" name="profession" placeholder="Zanimanje">

      <label for="phone">Broj mobitela</label>
      <input type="text" id="text" name="number" placeholder="Broj mobitela">
      <br>

      <label for="odjel">Odjel</label>
      <input type="text" id="odjel" name="odjel" placeholder="Odjel">

      <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Email">
  
      <input type="submit" value="Unesi">
  
    </form>
  </div>

  <div class="footer">
    <h2>Emerus, 2022.</h2>
</div>

<!-- Add icon library -->

<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-globe"></i></a>
</div>

</html>