<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/dodaj.css" />
    <title>Dodaj zaposlenika</title>
</head>

<body>
    <nav>
        <div class="newNav">
            <form action="/logout">
                <button id="logout">Odjavi se</button>
            </form>
            <br />
            <form action="/obrasci">
                <button id="obrasci">Obrasci</button>
            </form>
            <br />
            
            <form action="/događaji">
                <button id="događaji">Događaji</button>
            </form>
            <br />
            <form action="/dodaj">
                <button id="dodaj">Dodaj zaposlenika</button>
            </form>
            <br />
            <form action="/svi">
                <button id="svi">Svi zaposlenici</button>
            </form>
            </div>
            <h1 style="color: #1aa4bc">Pozdrav, {{data}}</h1>
    </nav>
    <div class="hero-image">
        <div class="hero-text">
            <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128" />
        </div>
    </div>
</body>

<hr>

<h1 style="text-align: left;color: #1aa4bc;">Dodaj zaposlenika</h1>

<div class="container">
    <form action="/unesi" method="post">
  
        <div class="row">
        <div class="col-25">
          <label for="fname">Ime</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="ime">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="lname">Prezime</label>
        </div>
        <div class="col-75">
          <input type="text" id="lname" name="lastname" placeholder="prezime">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
      <label for="birthday">Datum rođenja </label>
      </div>
        <div class="col-75">
      <input type="date" id="birthday" name="birthday"><br><br>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
      <label for="gender">Spol </label>
      </div>
        <div class="col-75">
      <input type="radio" name="gender" value="male"><label style="color: black">Muški</label> 
      <input type="radio" name="gender" value="female"><label style="color: black">Ženski</label><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="adress">Adresa</label>
      </div>
        <div class="col-75">
      <input type="text" id="adress" name="adress" placeholder="adresa"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="email">Email</label>
      </div>
        <div class="col-75">
      <input type="email" id="email" name="email"placeholder="info@info.com"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="phone">Broj mobitela</label>
      </div>
        <div class="col-75">
      <input type="tel" id="phone" name="phone" placeholder="000000000"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="odjel">Odjel</label>
      </div>
        <div class="col-75">
      <select placeholder="Odjel" name="department" id="subject_input" required>
        <option disabled hidden selected>Odaberite odjel</option>
        <option value="Uprava">Uprava</option>
        <option value="IT Odjel">IT odjel</option>
        <option value="Proizvodnja">Proizvodnja</option>
        <option value="Pakiranje" Pakiranje>Pakiranje</option>
        <option value="Strojna obrada">Strojna obrada</option>
        <option value="Termicki Most">Termički most</option>
        <option value="Bojara">Bojara</option>
        <option value="Skladiste">Skladište</option>
        <option value="Maloprodaja">Maloprodaja</option>
        <option value="Korekcija">Korekcija</option>
        <option value="Kontrola">Kontrola</option>
      </select><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="position">Pozicija</label>
      </div>
        <div class="col-75">
      <input type="text" id="position" name="position" placeholder="opis posla"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="startedDate">Datum zaposlenja </label>
      </div>
        <div class="col-75">
      <input type="date" id="startedDate" name="startedDate"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="salary">Osnovna plaća</label>
      </div>
        <div class="col-75">
      <input type="text" id="salary" name="salary" placeholder="00.000,00"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="status">Status</label>
      </div>
        <div class="col-75">
      <input type="text" id="status" name="status"placeholder="zaposlen/nezaposlen"><br><br>
    </div>
</div>
      <div class="row">
        <div class="col-25">
      <label for="image">Fotografija zaposlenika</label>
      </div>
        <div class="col-75">
      <input type="file" id="myFile" name="filename">
    </div>
</div>
      <input type="submit" value="unesi" style="background-color:#1aa4bc">
    </form>
  </div>
<hr>
  <div class="footer">
    <h2 style="color: #1aa4bc">Emerus, 2022.</h2>
</div>

</html>