<!DOCTYPE html>
<html>

<body>
  <div class="header">
    <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128">
  </div>
  <h1 style="text-align: left;">Događaji zaposlenika</h1>
</body>

<div class="footer">
  <h2>Emerus, 2022.</h2>
</div>

  <!-- Add icon library -->

  <div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="#"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-globe"></i></a>
  </div>

</body>
</html>