<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/css/home.css" />
    <link rel="stylesheet" href="../static/css/editUser.css" />
    <title>editUser</title>
</head>

<body>
    <nav>
        <div class="newNav">
            <form action="/logout">
                <button id="logout" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Odjavi se</button>
            </form>
            <br />
            <form action="/obrasci">
                <button id="obrasci" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white;font-size: large;">Obrasci</button>
            </form>
            <br />
            
            <form action="/događaji">
                <button id="događaji" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white;font-size: large;">Događaji</button>
            </form>
            <br />
            <form action="/dodaj">
                <button id="dodaj" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white;font-size: large;">Dodaj zaposlenika</button>
            </form>
            <br />
            <form action="/svi">
                <button id="svi" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white;font-size: large;">Svi zaposlenici</button>
            </form>
            </div>
            <h1 style="color: #1aa4bc;">Pozdrav, {{data [1]}}</h1>
        </div>
    </nav>
    <div class="hero-image">
        <div class="hero-text">
            <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128" />
        </div>
    </div>
</body>

<body>
    <h1>Sada možete uređivati ​​zaposlenika.</h1>

    <div class="info">
        <h4>ID: {{data[0]}}</h4>
        <p>Email: {{data[8]}}</p>
        <hr />
        <h4>Odjel:</h4>

        <form style="text-align: left; display: contents" action="/changeDepartment" method="post">
            <p style="display: contents">Trenutni: {{data[5]}}</p>
            <label style="margin-left: 40px" for="department">Promjeni Odjel : </label>
            <select placeholder="Odjel" name="department" id="subject_input" required value="{{request.form.subject_input}}">
                <option disabled hidden selected>Odaberite odjel</option>
                <option value="Administracija">Administracija</option>
                <option value="Alatnica">Alatnica</option>
                <option value="Financije i računovodstvo">Financije i računovodstvo</option>
                <option value="IT Odjel">IT odjel</option>
                <option value="Kontrola kvalitete">Kontrola kvalitete</option>
                <option value="Ljudski resursi">Ljudski resursi</option>
                <option value="Maloprodaja">Maloprodaja</option>
                <option value="Marketing">Marketing</option>
                <option value="Odjel komercijale">Odjel komercijale</option>
                <option value="Odjel korekcije">Odjel korekcije</option>
                <option value="Odjel nabave">Odjel nabave</option>
                <option value="Odjel osiguranja kvalitete">Odjel osiguranja kvalitete</option>
                <option value="Odjel prodaje">Odjel prodaje</option>
                <option value="Odjel proizvodnje - Preša">Odjel proizvodnje - Preša</option>
                <option value="Odjel proizvodnje - Termički most">Odjel proizvodnje - Termički most</option>
                <option value="Odjel proizvodnje - Pakiranje">Odjel proizvodnje - Pakiranje</option>
                <option value="Odjel tehnologije">Odjel tehnologije</option>
                <option value="Odjel za strojnu obradu">Odjel za strojnu obradu</option>
                <option value="Odjel za zaštitu površine">Odjel za zaštitu površine</option>
                <option value="Održavanje">Održavanje</option>
                <option value="Proizvodnja">Proizvodnja</option>
                <option value="Skladište profila">Skladište profila</option>
                <option value="Tehnički odjel">Tehnički odjel</option>
                <option value="Uprava">Uprava</option>
              </select>
            <input type="submit" value="Promjeni" id="editButton"/>
        </form>
        <hr />
        <h4>Pozicija:</h4>
        <form style="text-align: left; display: contents" action="/changePosition" method="post">
            <p style="display: contents">Trenutna: {{data[6]}}</p>
            <label style="margin-left: 40px" for="position">Promjeni poziciju: </label>
            <input type="text" placeholder="Nova pozicija" name="position" id="position"/>
            <input type="submit" value="Promjeni" id="editButton" />
        </form>
        <hr />
    </div>
    <form class="form-nazad" action="/svi">
        <button class="button-nazad">Nazad</button>
    </form>

    <div class="footer">
        <h2 style="color: #1aa4bc;">Emerus, 2022.</h2>
    </div>
</body>

</html>
