<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Home</title>


</head>

<body>
    <div class="header">
        <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128">
    </div>
    <h1 style="text-align: center;">Hello, {{data}}</h1>
</body>

<body>
    <div class="body">
        <h1>Zaposlenici</h1>
      </div>
</body>

<br>

<div class="navbar">
    <form action="/obrasci"> <button id="obrasci">Obrasci</button></form>
    <br>
    <form action="/svi"> <button id="svi">Svi</button></form>
    <br>
    <form action="/dodaj"> <button id="dodaj">Dodaj zaposlenika</button></form>
    <br>
    <form action="/događaji"> <button id="događaji">Događaji</button></form>
    <br>
    <form action="/logout"> <button id="logout">Odjavi se</button></form>
</div>


<div class="footer">
    <h2>Emerus, 2022.</h2>
</div>

<!-- Add icon library -->

<div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="#"><i class="fa fa-search"></i></a>
    <a href="https://emerus.eu/hr/podrska-kontakt/"><i class="fa fa-envelope"></i></a>
    <a href="http://emerus.eu/hr/"><i class="fa fa-globe"></i></a>
</div>

</body>

</html>