<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css">
    <title>Home</title>


</head>

<body>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>

    <body>

        <div class="header">
            <h1>Emerus</h1>
            <p>Baza podataka radnika.</p>
        </div>

        <h1>Hello, {{data}}</h1>
    </body>


    <div class="navbar">
        <form action="/svi"> <button id="svi">Svi</button></form>
        <a href="#">Dodaj zaposlenika</a>
        <a href="#">Obrasci</a>
    </div>

    <div class="row">
        <div class="side">
            <h2>O zaposleniku</h2>
            <h5>Fotografija:</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Kratki opis zaposlenika.</p>
            <h3>Više informacija</h3>
            <p>Neki citat.</p>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div><br>
            <div class="fakeimg" style="height:60px;">Image</div>
        </div>

        <div class="main">
            <h2>POZICIJA ZAPOSLENIKA</h2>
            <h5>Opis pozicije.</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Neki tekst...</p>
            <p>Detalji o poziciji zaposlenika.</p>
            <br>
            <h2>POZICIJA ZAPOSLENIKA</h2>
            <h5>Opis pozicije.</h5>
            <div class="fakeimg" style="height:200px;">Image</div>
            <p>Neki tekst..</p>
            <p>Detalji o poziciji zaposlenika.</p>
        </div>
    </div>

    <div class="footer">
        <h2>Emerus, 2022.</h2>
    </div>

</body>

</html>