<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/svi.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Svi zaposlenici</title>
</head>

<body>
    <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128">
    <h2 style="text-align: left;background-color:#1aa4bc; color: white; text-indent: 30px">Popis svih zaposlenika</h2>
</body>

<div class="topnav">
    <div class="search-container">


        <div class="radnik">
            <p>{{data[0][1]}}</p>
            <p>{{data[0][2]}}</p>
            <p>{{data[0][3]}}</p>
            <p>{{data[0][4]}}</p>
            <p>{{data[0][5]}}</p>
            <p>0{{data[0][6]}}</p>
        </div>
    </div>
    
  <div class="footer">
      <h2>Emerus, 2022.</h2>
  </div>
  
  <!-- Add icon library -->
  
  <div class="icon-bar">
    <a class="active" href="#"><i class="fa fa-home"></i></a>
    <a href="https://www.linkedin.com/company/emeruseu"><i class="fa fa-linkedin"></i></a>
    <a href="https://emerus.eu/hr/podrska-kontakt/"><i class="fa fa-envelope"></i></a>
    <a href="http://emerus.eu/hr/"><i class="fa fa-globe"></i></a>
    <a href="https://www.facebook.com/emerus.eu"><i class="fa fa-facebook"></i></a>
    <a href="https://twitter.com/Emerus_EU"><i class="fa fa-twitter"></i></a>
    <a href="https://www.instagram.com/emerus.doo/?hl=en"><i class="fa fa-instagram"></i></a>
</div>
  
  </body>
  
  </html>