<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/css/home.css" />
        <link rel="stylesheet" href="../static/css/svi.css" />
        <title>svi zaposlenici</title>
    </head>
    
    <body>
        <nav>
            <div class="newNav">
                <form action="/logout">
                    <button id="logout" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Odjavi se</button>
                </form>
                <br />
                <form action="/obrasci">
                    <button id="obrasci" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Obrasci</button>
                </form>
                <br />
                <form action="/događaji">
                    <button id="događaji" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Događaji</button>
                </form>
                <br />
                <form action="/dodaj">
                    <button id="dodaj" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Dodaj zaposlenika</button>
                </form>
                <br />
                <form action="/svi">
                    <button id="svi" style="background-color: #1aa4bc; border-color: #1aa4bc;color: white; font-size: large;">Svi zaposlenici</button>
                </form>
                </div>
                <h1 style="color: #1aa4bc;">Pozdrav, {{data[0][1]}}</h1>
            </div>
        </nav>

        <div class="hero-image">
            <div class="hero-text">
                <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128" />
            </div>
        </div>
<br>
<form class="delete-form" action="/deleteUser" method="post">
    <input style="margin-right: 10px" autocomplete="off" type="number" min=1 max=999 name="id" placeholder="ID">
    <input id="button-delete" type="submit" value="Izbrisati" style="background-color: #1aa4bc;border-color: #1aa4bc;font-size: medium;color: white">
</form>
</br>
<form action="/editUser">
    <input style="margin-right: 10px" autocomplete="off" type="number" min=1 max=999 name="idEdit" placeholder="ID">
    <input id="button-edit" type="submit" value="Uredi zaposlenika" style="background-color: #1aa4bc;border-color: #1aa4bc; font-size: medium;color: white">
</form>
</br>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Pretraži po imenu">

<div class="table-wrapper">
    <table class="fl-table" id="myTable">
        <thead style="text-align: center">
            <tr>
                <th>ID</th>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Datum rođenja</th>
                <th>Adresa</th>
                <th>Email</th>
                <th>Broj mobitela</th>
                <th>Odjel</th>
                <th>Pozicija</th>
                <th>Opcija</th>

            </tr>
        </thead>
        <div>
            {% for row in data %}
            <div>
                <tbody>
                    <tr>
                        <td class="idSearch">{{row[0]}}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td><input type="button" value="Delete" onclick="deleteRow(this)"></td>
                    </tr>
                </tbody>
                {% endfor %}

                <tbody></tbody>
    </table>

</div>
        <div class="footer">
            <h2 style="color: #1aa4bc;">Emerus, 2022.</h2>
        </div>
    </body>

    <script language="javascript">
        setTimeout(function() {
            window.location.reload(1);
        }, 60000);
    </script>

    <script>
        const spans = document.querySelectorAll('.word span');

        spans.forEach((span, idx) => {
            span.addEventListener('click', (e) => {
                e.target.classList.add('active');
            });
            span.addEventListener('animationend', (e) => {
                e.target.classList.remove('active');
            });

            // Initial animation
            setTimeout(() => {
                span.classList.add('active');
            }, 750 * (idx + 1))
        });

        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
                }
            }
}

function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    document.getElementById("myTable").deleteRow(i);
}
    </script>



  </html>

