<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;700&family=Roboto+Flex:opsz,wght@8..144,400;8..144,700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="../static/css/home.css" />
        <link rel="stylesheet" href="../static/css/svi.css" />
        <title>svi zaposlenici</title>
    </head>
    
    <body>
        <nav>
            <div class="newNav">
                <form action="/logout">
                    <button id="logout">Odjavi se</button>
                </form>
                <br />
                <form action="/obrasci">
                    <button id="obrasci">Obrasci</button>
                </form>
                <br />
                
                <form action="/događaji">
                    <button id="događaji">Događaji</button>
                </form>
                <br />
                <form action="/dodaj">
                    <button id="dodaj">Dodaj zaposlenika</button>
                </form>
                <br />
                <form action="/svi">
                    <button id="svi">Svi zaposlenici</button>
                </form>
                </div>
                <h1>Pozdrav, {{data}}</h1>
            </div>
        </nav>

        <div class="hero-image">
            <div class="hero-text">
                <img src="../static/img/emerus.jpg" alt="emerus" width="500" height="128" />
            </div>
        </div>

    <hr>
    <div class="table-wrapper">

    <table class="fl-table">
        <thead style="text-align: center">
            <tr>
                <th>ID</th>
                <th>Ime i prezime</th>
                <th>Broj mobitela</th>
                <th>Email</th>
                <th>Datum zaposlenja</th>
                <th>Odjel</th>
            </tr>
        </thead>
    </table>

        <div class="footer">
            <h2>Emerus, 2022.</h2>
        </div>
    </body>
  </html>